/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 juin 2014, 14:17:04
    Author     : llang
*/
*{
    margin: 0;
    padding: 0;
    font-family: Verdana,Arial,sans-serif;
}
a{
    text-decoration: none;
}
header{
    padding:  10px 100px ;
}
article{
    padding: 10px 25px;
    max-width: 1300px;
    text-align: justify;
}
article img{
    margin: 10px;
    margin-left: 30px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
}
h1{
    font-size: 1.2em;
}
h2{
    font-size: 1em;
}
#titre{
    display: inline-block;
    vertical-align: top;
    color: red;
    font-size: 2em;
    margin-bottom: 10px;
}
#sousTitre{
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    color: background;
    font-size: 1.2em;    
    margin-bottom: 10px;
}

#content{
    width: 100%;
    background-color: #eee;
    position: relative;
    z-index:1;
}
header nav{
    position: fixed;
    top:30px;
    right : 30px;
    padding: 20px;
    border : none;
    background-color: #fff;
    z-index: 100;
}

nav>ul>li{
    list-style: none;    
    padding-bottom: 10px;
}

nav>ul>li>ul{
    padding-top: 10px;
}

nav>ul>li>ul>li{
    list-style: none;
    padding-left: 30px;
    padding-bottom: 10px;
}

nav>ul>li>ul>li:last-child{
    padding-bottom: 0px;
}

nav>ul>li>a{
    border-bottom: 3px solid white;
    padding: 2px 10px;
}

nav>ul>li>a:hover{
    border-bottom: 3px solid red;
}
nav>ul>li>ul>li>a{
    border-bottom: 3px solid white;
    padding: 2px 10px;
}

nav>ul>li>ul>li>a:hover{
    border-bottom: 3px solid red;
}

.retourDebut{
    position: fixed;
    right:20px;    
    bottom: 20px;
}
ol{
    padding-left: 45px;
    margin-bottom: 20px;
    margin-top: 10px;
}
ol>li{
    margin-bottom: 15px;
}
ol>li>img,ol>li>ul>li>img{
    margin-left: 50px;
}
ol>li>ul>li{
    margin-top: 10px;
    margin-left: 25px;
}
.rouge{
    color: red;
}
p{
    margin-top: 10px;
    margin-bottom: 20px;
}